* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

li {
    background-color: #fff;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

li:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f4f4f9;
}

h2 {
    font-size: 1.2rem;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

p {
    padding: 10px;
    font-size: 0.9rem;
    color: #555;
}
